
.headerContainer {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin: 0;
    padding: 0;
	width: 100%;
    height: auto;
	padding: 5px;
    background-color: #6fdeff;
}

.imgContainer {
    width: 200px;
    height: 75px;
    box-shadow: 10px 0px 20px #106d6a;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    color: #4941e1;
    font-weight: bold;
}

.headerMenu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
}

.headerButtomMenu{
    background: #6fdeff;
    border-radius: 50%;
    padding: 10px;
    font-size: 24px;
    border: none;
    cursor: pointer;
}