html, body {
    margin: 0;
    height: 200vh;
    background: linear-gradient(#fdfeff, #a6c8dd);
}

.inicioContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    min-height: 80vh;
}

.titulo {
    max-width: 800px;
    width: 100%;
    /* Fondo con degradado similar a tu estilo */
    background: linear-gradient(135deg, #d6e1f8, #8fd3ee);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 8px 15px rgba(21, 235, 250, 0.4); /* Sombra azul brillante */
    text-align: center;
    margin-bottom: 30px;
}

.titulo h2 {
    font-size: 80px;
    color: #23222a; /* Color oscuro para contraste */
    margin-bottom: 10px;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
    animation: neonPulse 2.5s ease-in-out infinite alternate;
}

@keyframes neonPulse {
    0%, 100% {
        text-shadow: 0 0 5px #fff, 0 0 10px #15c8fa;
        opacity: 1;
    }
    50% {
        text-shadow: 0 0 10px #fff, 0 0 20px #15e7fa, 0 0 30px #15e7fa;
        opacity: 0.9;
    }
}
.titulo p {
    font-size: 14px;
    color: #333;
    font-weight: 500;
}