/* Contenedor padre */
.listContainer {
    display: flex;
    flex-wrap: wrap;      
    gap: 10px;            
    padding: 20px;
    justify-content: center;
}

/* Tarjetas */
.juegoCard {
    width: 200px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s;
}

.juegoCard:hover {
    transform: scale(1.05);
}

/* Imagen de portada */
.imageCard {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/* Nombre del juego */
.cardTitle {
    padding: 10px;
    font-size: 1.1rem;
    color: #333;
    font-weight: bold;
}