/* Estrellas de calificacion */
.ratingIcon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 10px; 
    cursor: pointer;
    z-index: 5;
    background: rgba(255, 255, 255, 0.9);
    padding: 3px 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    transition: transform 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.ratingIcon:hover {
    transform: scale(1.1);
}

/* Barra de estrellas*/
.ratingPopover {
    position: absolute;
    bottom: 40px; 
    right: 5px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    width: 140px; 
}

.ratingTitle {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.ratingStars {
    display: flex;
    cursor: pointer;
    width: 25px;
    height: 15px;
}

.ratingStar {
    font-size: 10px;
    margin: 0 1px;
    transition: transform 0.1s;
}

.ratingStar:hover {
    transform: scale(1.2);
}